<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!--<img src="assets/img/navbar-logo.svg" alt="" />-->
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Library</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">borrow book</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Library!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/user">Back</a>
            </div>
        </header>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <form action="/admin/borrowBook/store" method="POST">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6 center">
                            <div class="form-group mb-md-0 addBook">
                                <input class="form-control" name="Code" id="code" type="text" placeholder="Code book *" required="required" data-validation-required-message="Please enter code." />
                                <span><%= messageCode %></span>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group addBook">
                                <input class="form-control" name="Email" id="email" type="email" placeholder="email *" required="required" data-validation-required-message="Please enter email." />
                                <span><%= messageEmail %></span>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group addBook">
                                <input class="form-control" name="Amount" id="amount" type="number" placeholder="Amount *" required="required" data-validation-required-message="Please enter amount." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group mb-md-0 addBook">
                                <input class="form-control" name="Phone" id="phone" type="tel" pattern="0[0-9]{9}" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number." />
                                <span><%= message %></span>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Borrow</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
