<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!--<img src="assets/img/navbar-logo.svg" alt="" />-->
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Library</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Update book</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Library!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/admin">Back</a>
            </div>
        </header>
        <!--book information-->
        <section class="page-section" id="book-info">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Book information</h2>
                <h3 class="section-subheading text-muted">basic information of book</h3>
            </div>
                <div class="container-book">
                    <div class="container-img">
                        <img class="book-img" src="<%= Book.pathImage %>">
                    </div>
                    <div class="container-info">
                        <p><b>Name:</b> <%= Book.Name %> </p>
                        <p><b>Code:</b> <%= Book.Code %> </p>
                        <p><b>Author:</b> <%= Book.Author %> </p>
                        <p><b>Subjected:</b> <%= Book.Subjected %></p>
                        <p><b>Amount:</b> <%= Book.Amount %></p>
                    </div>
                </div>
                <div class="container-description">
                    <p>
                        <b>Note: </b> 
                        <%= Book.Description %>
                    </p>
                </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Update book</h2>
                    <h3 class="section-subheading text-muted">Enter full infomation about your book.</h3>
                </div>

                <form action="/admin/updateBook/store" method="POST" enctype="multipart/form-data">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group addBook">
                                <input class="form-control" name="Name" id="name-book" type="text" placeholder="Name book *" required data-validation-required-message="Please enter name book." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group addBook">
                                <input class="form-control" name="Author" id="authur" type="text" placeholder="Authur *" required data-validation-required-message="Please enter Authur." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group addBook">
                                <input class="form-control" name="Subjected" id="subjected" type="text" placeholder="Subjected *" required data-validation-required-message="Please enter subjected." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group addBook">
                                <input class="form-control" name="Amount" id="amount" type="number" placeholder="Amount *" required data-validation-required-message="Please enter amount." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group addBook">
                                <input class="form-control" name="image" id="img" type="file" required data-validation-required-message="Please upload image." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0 addBook description">
                                <textarea class="form-control" name="Description" id="description" placeholder="description *" required= data-validation-required-message="Please enter a description."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts'); -%>
        <script src="../js/checkCode.js"></script>
    </body>
</html>
